# dependencies
node_modules
.pnp
.pnp.*

# testing
coverage

# production
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.local
.env.production.local
.env.development.local

# vite
.vite

# ide
.vscode
.vscode/*
!.vscode/settings.json
.idea

pnpm-lock.yaml
pnpm-workspace.yaml
bun.lock